/* Global Styles */
* {
    box-sizing: border-box; /* This ensures padding and borders are included in element's total width and height */
}

body {
    margin: 0;
    padding: 0;
    background-color: #07010ce8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.title {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
    filter: drop-shadow(0 0 17px #FAE);
    text-shadow: 2px 2px 4px #000000;
    z-index: 1;
}

.arrow {
    position: absolute;
    top: 115px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #1d041b;
    border-radius: 60%;
    z-index: 2;
}

.wheel {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: rgba(85, 83, 83, 0.795);
    position: relative;
    overflow: hidden;
    border: 10px solid #ffffff;
    transition: 5s;
    box-shadow: 0 0 20px #fff inset;
    background: conic-gradient(
        red 0deg 45deg,
        green 45deg 90deg,
        blue 90deg 135deg,
        yellow 135deg 180deg,
        brown 180deg 225deg,
        cyan 225deg 270deg,
        magenta 270deg 315deg,
        orange 315deg 360deg
    );
}

.wheel span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center left;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.spin {
   position: absolute;
   top: 600px;
   left: 50%;
   transform: translateX(-50%);
   padding: 10px 20px;
   font-size: 1.2em;
   background-color: #4e0448be;
   color: #ffffff;
   border: 2px solid #ffffff;
   border-radius: 10px;
   cursor: pointer;
   z-index: 1;
}